@model IEnumerable<SalesPersonViewModel>
@Html.Partial("_SearchField", new SearchFieldViewModel() { Controller="SalesPerson", Action="Search", Placeholder="Filter by name, address" })
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Salary</th>
            <th>Sales</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var salesPerson in Model)
        {
            <tr>
                <td>@salesPerson.Name</td>
                <td>@salesPerson.Address</td>
                <td>@salesPerson.Salary</td>
                <td>@salesPerson.Sales.Count()</td>
                <td><a asp-action="Details" asp-controller="SalesPerson" asp-route-id="@salesPerson.SalesPersonId">Details</a></td>
            </tr>
        }
    </tbody>
</table>